@import '_pokemon';

body {
  background-color: #dce4e7;
  font-size: 14px;
  padding-top: 60px;
}

.bold {
  font-weight: 500;
}

.container {
  max-width: 1295px;
}

.navbar {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;

}

.display-none {
  display: none !important;
}

.no-active {
  pointer-events: none;
  opacity: 0;
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// PROFILE
.emp-profile {
  padding: 3%;
  margin: 3% 0;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;

  img {
    width: 70%;
    height: 100%;
    border-radius: 20px;
  }
}

.profile-head {
  h5 {
    color: #333;
  }

  .nav-tabs {
    margin-bottom: 5%;
  }

  .nav-tabs .nav-link {
    font-weight: 600;
    border: none;
  }

  .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #0062cc;
  }
}

.profile-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 1.5rem;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
}

.profile-description {
  color: #818182;
  margin-top: 5%;
}

.profile-work {
  p {
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
  }

  a {
    text-decoration: none;
    color: #495057;
    font-weight: 600;
  }

  ul {
    list-style: none;
  }
}

.profile-tab {
  label {
    font-weight: 600;
  }

  p {
    font-weight: 600;
    color: #0062cc;
  }
}

.profile-menu {
  margin: 0;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}

.commentContent:focus {
  outline: 0;
}

#new_topic_form_content {
  height: 300px;
}

@media screen and (max-width: 1080px) {
  body {
    padding-top: 80px;
  }

  .hunt-btn:not(.hunt-anonyme) {
    width: 118px;
  }

  .pokeball-container {
    width: 110px;
  }
}

@media screen and (max-width: 990px) {
  body {
    padding-top: 60px;
  }
}

@media only screen and (max-width: 800px) {
  .a-user > .row > .col-1, .col-2, .col-3, .col-4 {
    flex: auto;
    max-width: 100%;

  }

  .user-list > .row > .col-1, .col-2, .col-3, .col-4 {
    flex: auto;
   max-width: 100%;
  }

}