body {
	background-color: #dce4e7;
	font-size: 14px;
}

.bold {
	font-weight: 500;
}

// PROFILE
.emp-profile {
	padding: 3%;
	margin: 3% 0;
	border-radius: 0.5rem;
	background: #fff;
}

.profile-img {
	text-align: center;
	img {
		width: 70%;
		height: 100%;
	}
}

.profile-head {
	h5 {
		color: #333;
	}
	.nav-tabs {
		margin-bottom: 5%;
	}
	.nav-tabs .nav-link {
		font-weight: 600;
		border: none;
	}
	.nav-tabs .nav-link.active {
		border: none;
		border-bottom: 2px solid #0062cc;
	}
}

.profile-edit-btn {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	border-radius: 1.5rem;
	padding: 5px 10px;
	font-weight: 600;
	background-color: #6c757d;
	color: white;
	cursor: pointer;
}

.profile-description {
	color: #818182;
	margin-top: 5%;
}

.profile-work {
	p {
		color: #818182;
		font-weight: 600;
		margin-top: 10%;
	}
	a {
		text-decoration: none;
		color: #495057;
		font-weight: 600;
	}
	ul {
		list-style: none;
	}
}
.profile-tab {
	label {
		font-weight: 600;
	}
	p {
		font-weight: 600;
		color: #0062cc;
	}
}

.profile-menu {
	margin: 0;
	padding: 0;
	border: 0;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
	img {
		width: 100%;
		height: 100%;
	}
}

.hunt-btn,
.pokeball-container {
	margin-right: 10px;
}

.pokeball-container {
	display: flex;
	flex-wrap: wrap;
	.pokeball {
		height: 30px;
		width: 30px;
	}
}

.pokemon-main-container {
	z-index: 999;
	transition: 0.5s;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	.pokemon-main-container {
		position: relative;
		width: 100%;
		height: 100%;
	}
	.pokemon {
		width: fit-content;
		height: fit-content;
		position: absolute;
		top: 0;
		left: 0;
	}
	.pokemon-image {
		transform: scaleX(-1);
		width: 100px;
		height: auto;
		cursor: none;
	}
}

.display-none {
	display: none;
}

#cursor-pokeball {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pokeball-loader {
	z-index: 9999;
	width: 60px;
	height: 60px;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	border: 3px solid;
	animation: frames 0.8s linear 0s infinite;

	&:before {
		content: "";
		position: absolute;
		background-color: #fff;
		width: 15px;
		height: 15px;
		border: 4px solid;
		border-radius: 50%;
		bottom: 18px;
		right: 20px;
		z-index: 1;
	}
	&:after {
		content: "";
		position: absolute;
		width: 60px;
		height: 30px;
		background-color: red;
		border-bottom: 4px solid;
		top: -4px;
	}
}

/* AnimationFrames */
@keyframes frames {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
