
.iconCatgory {
    width: 40px;
    margin: 15px;
    margin-right: 0;
}

.categoryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: white;
    margin: 5px;
    width: 210px;

}

.categoryContainer > h3 {
    margin: 0;
}

#wrapperCategory{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-color: #607D8B;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px 0px #84848478;
    max-width: 660px;
}

#wrapperCategory >h2{
    width: 100%;
    text-align: center;
    color: white;
}


.SubCategorieContainer {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid;
    color: white;
}

.SubCategorieContainer > h2 {
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid;

}

.SubCategorieContainer > h3{
    font-size: 15px;
    margin: 0;
}

#wrapperSubCategorie {
    justify-content: center;
    background-color: #50b4e4;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 4px 4px 20px 0px #84848478;
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    min-height: 277.5px;
    width: 100%;
    max-width: 545px;
    padding-bottom: 30px;
}

#wrapperSubCategorie >h2{
    width: 100%;
    text-align: center;
    color: black;
    border-bottom: 1px solid;
    padding: 15px;
    margin: 0;
    color: white;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1295px;
}

#pokemonLogoContainer {
    width: 1235px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #343a40;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

#pokemonLogoContainer >img{
    width:60%;
}

a{
    color: black;
}
