.hunt-btn,
.buy-pokeball-btn {
  -webkit-transition: opacity ease 1s;
  transition: opacity ease 1s;
  margin-right: 15px;
}

.pokeball-container {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pokeball-container .pokeball {
  height: 30px;
  width: 30px;
  opacity: 1;
  -webkit-transition: opacity ease 5s;
  transition: opacity ease 5s;
}

.pokemon-main-container {
  z-index: 999;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.pokemon-main-container .pokemon-main-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.pokemon-main-container .pokemon {
  z-index: 999;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}

.pokemon-main-container .pokemon-image {
  z-index: 999;
  -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 90px;
  height: auto;
  cursor: none;
}

#cursor-pokeball {
  pointer-events: none;
  z-index: 9999;
}

.pokeball-loader {
  z-index: 9999;
  width: 60px;
  height: 60px;
  position: relative;
  overflow: hidden;
  -webkit-animation: frames 0.8s linear 0s infinite;
          animation: frames 0.8s linear 0s infinite;
  -webkit-transition: width ease 0.8s, height ease 0.8s;
  transition: width ease 0.8s, height ease 0.8s;
}

.pokeball-animation-fall, .pokeball-animation-fail, .pokeball-animation-success {
  -webkit-animation: fall 0.6s ease-in-out forwards, shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
          animation: fall 0.6s ease-in-out forwards, shake 1.25s cubic-bezier(0.36, 0.07, 0.19, 0.97) 3;
}

.pokeball-animation-fail .pokeball-button {
  -webkit-animation: blink 0.5s alternate 7, fail-caught 1s ease 4s forwards;
          animation: blink 0.5s alternate 7, fail-caught 1s ease 4s forwards;
}

.pokeball-animation-success .pokeball-button {
  -webkit-animation: blink 0.5s alternate 7, caught 1s ease 4s forwards;
          animation: blink 0.5s alternate 7, caught 1s ease 4s forwards;
}

.pokeball-catching {
  -webkit-transition: ease 0.5s;
  transition: ease 0.5s;
  opacity: 1;
  z-index: 9999;
}

.pokeball-catch {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  width: 200px;
  height: 200px;
  top: -300px;
  background: #fff;
  border: 10px solid #000;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: inset -10px 10px 0 10px #ccc;
          box-shadow: inset -10px 10px 0 10px #ccc;
}

.pokeball-catch::before, .pokeball-catch::after {
  content: "";
  position: absolute;
}

.pokeball-catch::before {
  background: red;
  width: 100%;
  height: 50%;
}

.pokeball-catch::after {
  top: calc(50% - 10px);
  width: 100%;
  height: 20px;
  background: #000;
}

.pokeball-catch .pokeball-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  height: 60px;
  background: #eee;
  border: 10px solid #fff;
  border-radius: 50%;
  z-index: 10;
  -webkit-box-shadow: 0 0 0 10px black;
          box-shadow: 0 0 0 10px black;
}

/* Animations */
@-webkit-keyframes blink {
  from {
    background: #e74c3c;
  }
  to {
    background: #eee;
  }
}
@keyframes blink {
  from {
    background: #e74c3c;
  }
  to {
    background: #eee;
  }
}

@-webkit-keyframes caught {
  from {
    background: #eee;
  }
  to {
    background: #34e3ff;
  }
}

@keyframes caught {
  from {
    background: #eee;
  }
  to {
    background: #34e3ff;
  }
}

@-webkit-keyframes fail-caught {
  from {
    background: #eee;
  }
  to {
    background: #7f8c8d;
  }
}

@keyframes fail-caught {
  from {
    background: #eee;
  }
  to {
    background: #7f8c8d;
  }
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 0) rotate(-20deg);
            transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    -webkit-transform: translate(10px, 0) rotate(20deg);
            transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(-10deg);
            transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(10px, 0) rotate(10deg);
            transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
  20% {
    -webkit-transform: translate(-10px, 0) rotate(-20deg);
            transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    -webkit-transform: translate(10px, 0) rotate(20deg);
            transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    -webkit-transform: translate(-10px, 0) rotate(-10deg);
            transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    -webkit-transform: translate(10px, 0) rotate(10deg);
            transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    -webkit-transform: translate(0, 0) rotate(0);
            transform: translate(0, 0) rotate(0);
  }
}

@-webkit-keyframes fall {
  0% {
    top: -300px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}

@keyframes fall {
  0% {
    top: -300px;
  }
  60% {
    top: 0;
  }
  80% {
    top: -60px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.badge-container {
  -webkit-transition: ease top 1s, ease opacity 0.5s;
  transition: ease top 1s, ease opacity 0.5s;
  position: fixed;
  top: -500px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 500px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  z-index: 99999;
  border-radius: 5px;
  padding: 30px;
  -webkit-box-shadow: 0 0 13px 2px #e8e8e8;
          box-shadow: 0 0 13px 2px #e8e8e8;
}

.badge-container p:not(.badge-congrat):not(.badge-name-full) {
  font-size: 16px;
}

.badge-container > *:not(:last-child) {
  margin-bottom: 20px;
  text-align: center;
}

.badge-img {
  width: 200px;
  height: 200px;
}

.badge-img img {
  height: 100%;
  width: auto;
}

.badge-congrat,
.badge-name-full {
  font-size: 20px;
  font-weight: bold;
}

.badge-name {
  font-weight: bold;
}

.down-to-center {
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pokemon-list .form-control, .user-list .form-control {
  height: 30px;
}

.pokemon-list .filter-idPokemon, .user-list .filter-idPokemon {
  padding: 0;
  text-align: center;
}

.pokemon-list .pokemon-img, .user-list .pokemon-img {
  width: auto;
  max-height: 120px;
  max-width: 120px;
}

.pokemon-list a, .user-list a {
  color: black;
}

.pokemon-list a:hover, .user-list a:hover {
  text-decoration: none;
}

.pokemon-list a .row:hover, .user-list a .row:hover {
  background-color: #e2faff;
}

.disabled {
  pointer-events: none;
}

body {
  background-color: #dce4e7;
  font-size: 14px;
  padding-top: 60px;
}

.bold {
  font-weight: 500;
}

.container {
  max-width: 1295px;
}

.navbar {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
}

.display-none {
  display: none !important;
}

.no-active {
  pointer-events: none;
  opacity: 0;
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.emp-profile {
  padding: 3%;
  margin: 3% 0;
  border-radius: 0.5rem;
  background: #fff;
}

.profile-img {
  text-align: center;
}

.profile-img img {
  width: 70%;
  height: 100%;
  border-radius: 20px;
}

.profile-head h5 {
  color: #333;
}

.profile-head .nav-tabs {
  margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}

.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}

.profile-edit-btn {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 1.5rem;
  padding: 5px 10px;
  font-weight: 600;
  background-color: #6c757d;
  color: white;
  cursor: pointer;
}

.profile-description {
  color: #818182;
  margin-top: 5%;
}

.profile-work p {
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}

.profile-work a {
  text-decoration: none;
  color: #495057;
  font-weight: 600;
}

.profile-work ul {
  list-style: none;
}

.profile-tab label {
  font-weight: 600;
}

.profile-tab p {
  font-weight: 600;
  color: #0062cc;
}

.profile-menu {
  margin: 0;
  padding: 0;
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-menu img {
  width: 100%;
  height: 100%;
}

.commentContent:focus {
  outline: 0;
}

#new_topic_form_content {
  height: 300px;
}

@media screen and (max-width: 1080px) {
  body {
    padding-top: 80px;
  }
  .hunt-btn:not(.hunt-anonyme) {
    width: 118px;
  }
  .pokeball-container {
    width: 110px;
  }
}

@media screen and (max-width: 990px) {
  body {
    padding-top: 60px;
  }
}
/*# sourceMappingURL=style.css.map */