{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block content %}

<div class="container">
    <h1>Afficher ici toutes les catégories</h1>
</div>
{% endblock %}
