{% extends 'base.html.twig' %}

{% block title %}Hello TopicController!{% endblock %}

{% block content %}

    <div class="container">
        <h1>{{  topic.title }}  </h1>
    </div>

    {% for comment in comments %}

        {{ comment.content }}
        <br>
    {% endfor %}
{% endblock %}
